.a11y-hidden{
    background-color: red;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
}.header{
    position: relative;
}
.ediya-logo{
    margin: 0;
    background: skyblue;

}.nav_button{
    position: relative;
    background: lime;
}.navigation-button{
  



}.menu_list{
    position: relative;
    background: blue;
    list-style: none;
}.close-button{
    position: absolute;
    top: 0;
    right: 0;
    
}.beverage_list{
    list-style: none;
}
summary{
    outline: none;
}