@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 10px;
    font-size: 1.4rem;
    line-height: 1.4;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

a:link {
    color: inherit;
}

a:visited {
    color: blueviolet;
}

a:hover, a:focus {
    color: red;
}
.head, .logo, .menu, .visual, .main, .group, .slogan, .footer {
    margin: 0 auto;
    width: 1000px;
}

.head {
    background-color: brown;
    position: relative;
}

.logo {
    margin: 0;
    position: absolute;
    top: 30px;
    left: 50px;
}

.menu {
    height: 70px;
    background-color: chartreuse;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    font-size: 1.2rem;
}

.visual {
    background-color: chocolate;
    height: 100px;
}

.main {
    background-color: cornflowerblue;
    min-height: 400px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.group {
    background-color: crimson;
}

.group1 {
    flex-basis: 250px;
}

.group2 {
    flex-basis: 400px;
}

.group3 {
    flex-basis: 200px;
}

.slogan {
    background-color: darkblue;
    padding: 10px 0;
}

.footer-bg {
    background-color: darkgreen;
    padding: 10px 0;
}

.footer {
    background-color: deeppink;
}